<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default title</h1>

<form name="editComputerCase" action="/parts/editCase" method="post" th:object="${computerCase}">
    <p>Id</p>
    <input title="Id" type="text" name="id" th:value="*{id}">
    <p>Name</p>
    <input title="Name" type="text" name="name" th:value="*{name}">
    <p>Description</p>
    <input title="Description" type="text" name="description" th:value="*{description}">
    <p>Case Type</p>
    <div class="form-select-button">
        <label th:for="caseType">Case type</label>
        <select name="caseType">
            <option th:each="type : ${caseTypes}"
                    th:text="${type.title}"
                    th:value="${type.id}"></option>
        </select>
    </div>
    <p>Weight</p>
    <input title="Weight" type="text" name="weight" th:value="*{weight}">
    <p>Price</p>
    <input title="Price" type="text" name="price" th:value="*{price}">

    <input type="submit" value="Edit">
</form>

</body>
</html>