<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table-view">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr th:each="powerblock : ${powerblocks}">
        <td th:text="${powerblock.name}" ></td>
        <td th:text="${powerblock.description}" ></td>
        <td th:text="${powerblock.price}" ></td>
        <td>
            <a href="/parts/powerblockInfoPage/" th:href="@{/parts/powerblockInfoPage/__${powerblock.id}__}">Info</a>
        </td>
        <td>
            <a href="/parts/editPowerblock/" th:href="@{/parts/editPowerblock/__${powerblock.id}__}">Edit</a>
        </td>
        <td>
            <a href="/parts/removePowerblock/" th:href="@{/parts/removePowerblock/__${powerblock.id}__}">Remove</a>
        </td>
    </tr>
</table>

<a href="/parts/addNewPowerblock">Add new Powerblock</a>

<h5>What is powerblock-</h5>
<p>Powerblock description //Will be available soon </p>

<span>IMG 1</span>
<span>IMG 1</span>
<span>IMG 1</span>
<span>IMG 1</span>

</body>
</html>