<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default title</h1>

<form name="editVga" action="/parts/editVga" method="post" th:object="${vga}">
    <p>Id</p>
    <input title="Id" type="text" name="id" th:value="*{id}">
    <p>Name</p>
    <input title="Name" type="text" name="name" th:value="*{name}">
    <p>Description</p>
    <input title="Description" type="text" name="description" th:value="*{description}">
    <p>Price</p>
    <input title="Price" type="text" name="price" th:value="*{price}">
    <div class="form-select-button">
        <label th:for="type">Manufacturer</label>
        <select name="manufacturer">
            <option th:each="manufacturer : ${manufacturers}"
                    th:text="${manufacturer.name}"
                    th:value="${manufacturer.id}"></option>
        </select>
    </div>
    <div class="form-select-button">
        <label th:for="type">Memory size</label>
        <select name="memorySizes">
            <option th:each="memorySize : ${memorySizes}"
                    th:text="${memorySize.size}"
                    th:value="${memorySize.id}"></option>
        </select>
    </div>
    <label th:for="frequency">Frequency</label>
    <input type="text" th:field="*{frequency}">

    <input type="submit" value="Edit">
</form>

</body>
</html>