<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table-view">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr th:each="vga : ${vgas}">
        <td th:text="${vga.name}" ></td>
        <td th:text="${vga.description}" ></td>
        <td th:text="${vga.price}" ></td>
        <td>
            <a href="/parts/vgaInfoPage/" th:href="@{/parts/vgaInfoPage/__${vga.id}__}">Info</a>
        </td>
        <td>
            <a href="/parts/editVga/" th:href="@{/parts/editVga/__${vga.id}__}">Edit</a>
        </td>
        <td>
            <a href="/parts/removeVga/" th:href="@{/parts/removeVga/__${vga.id}__}">Remove</a>
        </td>
    </tr>
</table>

<a href="/parts/addNewVga">Add new Videocard</a>

<h5>What is Videocard - VGA -</h5>
<p>Vga description //Will be available soon </p>

<span>IMG 1</span>
<span>IMG 1</span>
<span>IMG 1</span>
<span>IMG 1</span>

</body>
</html>