<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Value</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <div th:each="computer : ${computers}" class="check-box">
        <input type="checkbox" name="computerIds" th:value="${computer.id}" th:id="${computer.id}" />
        <label th:for="${computer.id}" th:text="${computer.name}"></label>
        <br/>
    </div>
    <input type="submit" value="Remove Computer" />
</form>

</body>
</html>