<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table-view">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr th:each="ram : ${rams}">
        <td th:text="${ram.name}" ></td>
        <td th:text="${ram.description}" ></td>
        <td th:text="${ram.price}" ></td>
        <td>
            Info
        </td>
        <td>
            <a href="/parts/editRam/" th:href="@{/parts/editRam/__${ram.id}__}">Edit</a>
        </td>
        <td>
            <a href="/parts/removeRam" th:href="@{/parts/removeRam/__${ram.id}__}">Remove</a>
        </td>
    </tr>
</table>

<a href="/parts/addNewRam">Add new Ram</a>

<h5>What is Random Access Memory - RAM -</h5>
<p>Ram description //Will be available soon </p>

<span>IMG 1</span>
<span>IMG 1</span>
<span>IMG 1</span>
<span>IMG 1</span>

</body>
</html>